<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxWUO1gi4kcmOfUK9p8r5-CxHyyEb23a4</string>
	<key>GCM_SENDER_ID</key>
	<string>198930201765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.jusgiveaway</string>
	<key>PROJECT_ID</key>
	<string>jusgiveaway</string>
	<key>STORAGE_BUCKET</key>
	<string>jusgiveaway.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198930201765:ios:da78477b44a265b92ca14c</string>
</dict>
</plist>